<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ArticleDao">
    <select id="selectAllByPages" resultType="Article">
        select id,name,resume,author,content,create_date createDate
        from c_article
        limit #{start},#{rows}
    </select>
    <select id="selectTotal" resultType="Integer">
        select count(*) from c_article
    </select>
    <insert id="insert" parameterType="Article">
        insert into c_article values(#{id},#{name},#{resume},#{author},#{content},#{createDate})
    </insert>
    <update id="update" parameterType="Article">
        update c_article
        <set>
            <if test="name!=null">name=#{name},</if>
            <if test="resume!=null">resume=#{resume},</if>
            <if test="author!=null">author=#{author},</if>
            <if test="content!=null">content=#{content},</if>
        </set>
        where id =#{id}
    </update>
    <delete id="delete" parameterType="String">
        delete from c_article where id = #{id}
    </delete>
</mapper>
