<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.TrendDao">
    <select id="selectAllBySex" resultType="Trend" parameterType="String">
        select month(create_date) as month,count(*) as count from c_user
        where sex = #{sex}
        group by month(create_date)
    </select>
</mapper>
